@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url(../assets/fonts/Montserrat-VariableFont_wght.ttf);
}

$font-1: 'Montserrat', sans-serif;

$color-principal: #FF6060;

body{
    font-family: $font-1;
    
    
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }